
<div class="border-bottom" style="padding: 10px;">
    <div class="row justify-content-between">
        <div class="col-10">
            <h4>{{job.title}}</h4>
            <div  style="margin-bottom: 5px;"> <b> LOCATION: </b> {{job.location}} </div>
            {% if job.salary %}
            <div style="margin-bottom: 16px;"> <b> Salary: </b> {{job.salary}} </div> 
            {% endif %}
        </div>
        
        <div class="col-2 col align-self-center">
            <a type="button" class="btn btn-outline-info" href="mailto:yourmom@hotmail.com?subject=Application%20for%20{{job.title}}&body=Your%20Name%3A%20%3CYour%20name!%3E%0D%0AResume%20link%3A%20%3CResume%20Link%3E%0D%0AEssay%3A%20%3CWrite%20a%20400%20letter%20essay%20stating%20why%20you%20are%20worthy%20of%20the%20job%3E">Apply</a>
        </div>
        
    </div>
    
</div>
